.card-skeleton {
  display: flex;
  flex-direction: column;
  position: relative;
}

.circle__skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  right: 1px;
  left: 1px;
}

.check-circle__skeleton {
  color: #8364e2;
  position: absolute;
  bottom: 24px;
  right: 10px;
  left: 132px;
  z-index: 1;
}

.name__skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 26px;
}

.code__skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this line */
  top: 26px;
}

/* 



NEW ITEMS SKELETON  



*/

.skeleton__de_countdown {
  position: relative;
  left: 80px;
  z-index: 100;
  width: 50%;
  height: 24px;
}

.items-circle__skeleton {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
}

.img__skeleton {
  width: 100%;
  height: 200px;
}

.user-title__skeleton {
  width: 80px;
}

/* 


TOP SELLERS


*/

.author-img__skeleton {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
}

.author-name__skeleton {
  width: 100px;
}

.price__skeleton {
  width: 50px;
}

/* 


AUTHOR SKELETON


*/

.author__banner--skeleton {
  margin: 0 auto;
  height: 360px;
  width: 100%;
}

.profile_avatar--skeleton {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  z-index: 0;
}

.skeleton__container {
  display: flex;
  flex-direction: column;
}

.author-name--skeleton {
  width: 140px;
}

.tag--skeleton {
  width: 80px;
}

.address--skeleton {
  width: 180px;
}

.followers__skeleton {
  width: 100px;
  margin-right: 20px;
  height: 24px;
}

.follow-btn__skeleton {
  width: 100px;
  height: 40px;
}

/* 



ItemDetailes Skeleton



*/

.nft--img__skeleton {
  height: 100%;
  width: 100%;
}

.item--title__skeleton {
  height: 32px;
  width: 100%;
  margin-bottom: 15px;
}

.views__skeleton {
  width: 80px;
  height: 30px;
  margin-right: 10px;
}

.likes__skeleton {
  width: 80px;
  height: 30px;
}

.description__skeleton{
    width: 100%;
    margin-bottom: 20px;
}
